.pagelink .of-content{
    padding-top: 50px;
    

}
.of-content h2{
    text-align: center;
    color: yellow;
    text-transform: uppercase;
}
.of-content .link-sc{
    margin-left: auto;
    display: flex;
    padding-top: 80px;
    padding-bottom: 25px;
}
 .menu-mega a:hover{
    background: #ffe100 !important;
    color: #181818;
    transition: 400ms ease;
    overflow: hidden;
}
    .pagelink a{
        text-decoration: none;
        text-align: center;
        background: #333;
        color: #AAA;
    }
    
    
    
.link-sc{
    display: flex;
    justify-content: center;
    }
.table-link-sc{
    background: #333;
    font-weight: 650;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.table-link-sc td{
    min-width: 450px;
    width: auto;
    color: #aaa;
    
}
.table-link-sc tr{
    width: auto;
    height: 50px;
}
.table-link-sc td a:hover{
        background: #ffe100 !important;
        color: #181818;
        transition: 400ms ease;
        overflow: hidden;

}
