*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.top{
    position: relative;
    text-align: center;
    color: black;
    font: 0.5em Arial;
    font-size: 20pt;
    font-weight: bold;
    padding-bottom: 15px;
    
    
   
}

body, html {
    height: 100%;
    background-color:#181818;
    /* old codes
    background: url(../image/pexels-ben-neale-380330.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
   
        }
  
.text-image{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 20px;
    text-align: center;

}
.bg-image{
    background-color:#181818;
}
    .bg-image img{
        width: 100%;
        height: 350px; 
    }
    /*.navbar{
        width: 100%;
        background-color:#778899;
        overflow: auto;
        
    }
    .navbar a{
        float: left;
        padding: 10px;
        color: #fff;
        font-size: 18px;
        width: 22%;
        text-align: center;

    }
    .navbar a:hover {
        background-color:#555555;
      }
      */
    .list-ct{
        padding-top: 30px;
    }
      .list-ct h2{
        text-align: center;
        font-size: 36px;
        color: yellow;

    }
    .link-script{
        padding-left: 15px;
        padding-top: 30px;
        position:absolute;

    }
    .thumbai .img-responsiver{
        max-width: 250pt;
        height: auto;
        display: inline-block;
       
    }
    /*a{ old codes
        color: red;
        font-size: 18px;
        line-height: 1.1;
        
        font-weight: 500;
    }
    */
    .thumbai{
        position: relative;
        display: inline-block;
        text-align: center;
        border: 1px solid white;
        text-decoration: none;
        border: unset;
    }
     
    
    .menu-mega{
        z-index: 3;
        padding-top: 50px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 30px;
        
    }

    .default-menu td{
        width: auto;
        min-width: 230px;
        height: 50px;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
    }
    .default-menu tr{
        max-width: 1170px;
        height: auto;
    }
    .default-menu{
        display: flex;
        justify-content: center;
    }
    
    .baitap a,.about a,.content a{
        text-decoration: none;
        text-align: center;
        background: #252525;
        color: #AAA;

        
    }
    .link-script a:hover,.menu-mega a:hover
    {
        background: #ffe100 !important;
        color: #181818;
        transition: 400ms ease;
        overflow: hidden;

    }
   .default-menu tr td>a{
        border-left: 4px solid #181818;
        padding: 26px 17px;
        font-weight: 900;
        display: flex;
        justify-content: center;
        
    }
   